################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio, but then had to be modified manually because it made a mess by adding redundant lines.
################################################################################
/.vs
/Debug
/Release
/sugar/Debug
/Tutorial0/x64/Debug
/Lines_2017_12_29_2_42.txt
/sugar/Lines_2017_12_31_1_16.txt
/sugar/Lines_2017_12_30_23_56.txt
/sugar/cho_truetype.h
/sugar/Lines_2018_1_27_20_49.txt
/sugar_core/Lines_2018_1_27_20_50.txt
/Lines_2018_1_27_20_49.txt
/Lines_2018_1_30_18_7.txt
/Lines_2018_2_4_0_46.txt
/enc_temp_folder/ee7d3616846564f2fbfa656dabfb3ebf
/sugar_core/Lines_2018_2_10_15_5.txt
/sugar/Lines_2018_2_10_15_5.txt
/Lines_2018_2_10_15_4.txt
/Tutorial7/Lines_2018_2_14_6_20.txt
/sugar/Lines_2018_2_14_6_23.txt
/sugar_core/Lines_2018_2_14_6_32.txt
