################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio, but then had to be modified manually because it made a mess by adding redundant lines.
################################################################################

/.vs/
Debug
Release
